.errorAlert{
color: #E74C3C;
font-size: 14px;
font-weight: bold;	
}

.td12{
font-size: 12px;
}

.parsley-required{
	color: #E74C3C !important;
	font-size: 12px;
}

.parsley-pattern{
	color: #E74C3C !important;
	font-size: 12px;
}	

.parsley-min{
	color: #E74C3C !important;
	font-size: 12px;
}

.parsley-type{
	color: #E74C3C !important;
	font-size: 12px;
}

.mandatoryStar{
	color: red;
}

.centerButton{
padding-top:30px !important;	
padding-left: 400px !important;	
}

.paddingTop{
padding-top:50px !important;

}

.paddingLeft{
padding-left:330px !important;

}

.centerBack{
    background-color: rgba(245, 245, 245, 0);
	
}